# Python essentials
__pycache__/
*.py[cod]
*$py.class
*.so
get-pip.py

# Virtual environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
myenv/

# Type checking
.mypy_cache/
.dmypy.json
dmypy.json
.pyre/

# macOS specific
.DS_Store
**/.DS_Store
._*
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# Ignore specific directories
/CODE/other_code
/CODE/output_folders
/CODE/image_folders

# Ignore specific common files and directories
.DS_Store
myenv/
*.xlsx
*.docx
*.json
*.log
*.pdf
~$*.xlsx

/CODE/stubborn_layout_ocr.py