# Ignore everything by default
*

# Allow Python scripts in the code folder (but not in the other-code subfolder
!code/
!code/**

# Ignore specific directories
/CODE/other-code
/CODE/output-folders
/CODE/image-folders

# Ignore specific common files and directories
.DS_Store
myenv/
*.xlsx
*.docx
*.json
*.txt
*.log
*.pdf
~$*.xlsx

# Allow specific files
!/README.md
!/requirements.txt
!/LICENSE


